<p>Nos vamos a {{destino.nombre}}</p>
<hr>
<div style="height: 50vh; width: 50vw;">
    <mgl-map
    [style]="estiloMapa"
    [zoom]="[2]"
    style="mapboxgl-map">
        <mgl-marker [lngLat]="[-75.551012, 10.421185]">
            <div
            onClick="alert('Hola')"
            class="marker">
                Hola mundo!
            </div>
        </mgl-marker>
    </mgl-map>
</div>
