<div class="card-content" [@esFavorito]="destino.selected ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div	class="card-img">
        <img	src="{{destino.imagenURL}}"	alt="">
        <span><h4>{{position}}</h4></span>
    </div>
    <div	class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'desayuno'" style="color: blue;">{{s}}</i>
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        <div>
            <a
            href="#"
            (click)="VoteUp()"
            appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item">
                <i class="material-icons md-18">thumb_up</i>
            </a>
            &nbsp;
            <a
            href="#"
            (click)="VoteDown()"
            appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
                <i class="material-icons md-18">thumb_down</i>
            </a>
            &nbsp;
            <a href="#" (click)="Reset()"><i class="material-icons md-18">restore</i></a>
            &nbsp;
            {{ destino.votes }} likes
        </div>
        <a
        href="#"
        class="btn-card"
        (click)="ir()"
        appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">
            Ir!
        </a>		
        <!-- <span [style.display]="destino.isSelected() ? '' : 'none'"> - PREFERIDO - </span> -->
        <span *ngIf="destino.selected">
            <span ngNonBindable>{{PREFERIDO}}</span>
        </span>
        <a [routerLink]="['/destino/', myID]">Ver detalle</a>
    </div>
</div>