<form
[formGroup]="fg"
(ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
    <div class="form-group">
        <label for="nombre" [innerHTML]="'ruteo' | translate">Nombre</label>
        <input
        type="text"
        class="form-control"
        id="nombre"
        [formControl]="fg.controls['nombre']"
        placeholder="Ingresar nombre...">
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>
        <div *ngIf="!fg.controls['nombre'].valid">Nombre no válido</div>
        <div *ngIf="fg.controls['nombre'].hasError('required')">Nombre requerido</div>
        <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre invalido</div>
        <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">Nombre debe tener al menos {{minLongitud}} caracteres</div>
    </div>
    <div class="form-group">
        <label for="Imagen Url" [innerHTML]="'url' | translate">URL de la imagen</label>
        <input
        type="text"
        class="form-control"
        id="imagenUrl"
        [formControl]="fg.controls['url']"
        placeholder="Ingresar url...">
        <div *ngIf="!fg.controls['url'].valid">URL no válida</div>
        <div *ngIf="fg.controls['url'].hasError('required')">URL requerida</div>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>
