<div class="container content">

  <div class="page-header">
    <div style="float: right;">
      <select (change)="translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="en">English</option>
        <option value="fr">France</option>
      </select> 
    </div>

    <div class="container">
      <h1 [innerHTML]="'nombre' | translate"><b>Ruteo simple</b></h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/destino']">Destino</a>
        <a [routerLink]="['/reservas']">Reservas</a>
      </div>
    </div>
  </div>

  <div class="row">
    <h1>
      {{ title }}
    </h1>
  </div>
  <router-outlet></router-outlet>
</div>

<hr class="mb-5">

Fecha: {{ time | async }}